<div *ngIf="!isQuizStarted" class="quiz-card">
  <div class="quiz-container">
    <h2>Select Clue Type</h2>
    <button (click)="startQuiz('bollards')" class="quiz-button">Bollards</button>
    <button (click)="startQuiz('telephone-poles')" class="quiz-button">Telephone Poles</button>
    <button (click)="startQuiz('license-plates')" class="quiz-button">License Plates</button>
  </div>
</div>
<div *ngIf="isQuizStarted">
  <div class="quiz-card">
    <div class="quiz-container" [class.completed]="isQuizCompleted">
      <div class="score-display">Score: {{correctAnswers}} / {{totalBollards}}</div>
      <img [src]="bollards[currentBollardIndex]?.image" 
           [class.incorrect-border]="wasIncorrect"
           alt="Country Image" 
           class="quiz-image">
      <input [(ngModel)]="userAnswer" 
             placeholder="Enter country name" 
             class="quiz-input"
             [disabled]="isQuizCompleted">
      <div class="button-group">
        <button (click)="checkAnswer()" 
                class="quiz-button" 
                [disabled]="isQuizCompleted">Submit</button>
        <button (click)="showAnswer()" 
                class="quiz-button show-answer" 
                [disabled]="isQuizCompleted">Show Answer</button>
      </div>
      <p>{{ feedback }}</p>
      <p *ngIf="correctCountry" class="correct-country">Correct answer: {{ correctCountry }}</p>
    </div>
  </div>
</div>
